pyyaml==6.0.1
joblib==1.3.2
monty==2023.9.25
numpy==1.26.2
pymatgen==2023.10.4
smol==0.5.3
sparse-lm==0.5.1
sympy==1.12
jobflow==0.1.13
atomate2==0.0.11
scikit-learn==1.4.0
emmet-core==0.68.0
scikit-optimize==0.9.0
scipy==1.11.3
pydantic==1.10.12
polytope==0.2.4
cvxpy==1.3.2
cvxopt==1.3.2
