pyyaml==6.0.1
joblib==1.3.1
monty==2023.5.8
numpy==1.24.4
pymatgen==2023.06.23
smol==0.4.1
sparse-lm==0.5.0
sympy==1.12
jobflow==0.1.11
atomate2==0.0.10
scikit-learn==1.3.0
emmet-core==0.60.2
scikit-optimize==0.9.0
scipy==1.11.1
pydantic==1.10.9
polytope==0.2.3
cvxpy==1.3.2
cvxopt==1.3.1
